.cardContainer {
    padding: 0 10px;
    border-radius: 10px;
    border: 0.2px solid rgba(0, 0, 0, 0.08);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all 0.5s;
}
.cardContainer:hover {
    scale: 1.06;
}
.cardLink {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardLink:visited {
    color: inherit;
}
.secondContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}
.cardImg {
    width: 9%;
}
.cardImg img {
    width: 100%;
    border-radius: 20px;
}
.cardIcon {
    margin-top: 7px;
    font-size: 23px;
    color: rgb(239, 106, 106);
}
.cardContainer h3 {
    color: #070C14;
}
.cardContainer span {
    font-size: 13px;
    font-weight: 500;
    padding: 2px 8px 2px 8px;
    background: linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
    color: rgb(43, 43, 43);
    border-radius: 5px;
    letter-spacing: 1.2px;
}