.contactInfoContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.contactFirstMenu {
    flex-basis: 25%;
}
.contactSecondMenu {
    flex-basis: 65%;
}

@media screen and (max-width: 1020px) {
    .contactInfoContainer {
        flex-direction: column;
    }
    .contactFirstMenu {
        padding-left: 20px;
        padding-right: 20px;
    }
}