.messageCard {
    border: 1px solid rgba(227, 222, 222, 0.88);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.88);
}
.messageCard-header {
    display: flex;
    gap: 8px;
    align-items: center;
}
.messageCard-header h3 {
    margin: 0;
    letter-spacing: 1.5px;
}
.messageCard-header span {
    margin-top: 2px;
    font-weight: 500;
    letter-spacing: 1.2px;
}
.messageCard-body {
    display: flex;
    padding-top: 15px;
    align-items: center;
    gap: 8px;
}
.messageCard-body h4 {
    margin: 0;
    letter-spacing: 1.5px;
}
.messageCard-body span {
    font-weight: 500;
    letter-spacing: 1.2px;
}
.messageCard-otp {
    display: flex;
    padding-top: 15px;
    align-items: center;
    gap: 8px;
}
.messageCard-otp h4 {
    margin: 0;
    letter-spacing: 1.5px;
}
.messageCard-otp span {
    font-weight: 500;
    letter-spacing: 1.2px;
}

@media screen and (max-width: 1020px) {
    .messageCard {
        padding: 5px;
    }

    .messageCard-header {
        flex-direction: column;
    }

    .messageCard-body {
        flex-direction: column;
    }

    .messageCard-otp {
        flex-direction: column;
    }

    .messageCard-otp span {
        text-align: center;
    }
}