.secondMenuContainer {
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (max-width: 1020px) {
    .secondMenuContainer {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .box-body {
        max-height: 60rem;
    }
}